@tailwind base;
@tailwind components;
@tailwind utilities;

$color-light-blue: "#DFDCF2";
$color-blue: "#181E40";
$color-green: "#78A614";
$color-light-green: "#AFD91A";
$color-offwhite: "#F2EDDC";

main.container {
  background-image: url("/img/bg/groovepaper.png");
}

.font-title {
  font-family: var(--font-sans);
}
.font-serif {
  font-family: var(--font-serif);
}
.handwriting {
  font-family: var(--font-handwriting);
}
.help {
  color: #94a3b8;
  font-size: 0.75em;
}

.event-density-map {
  .line {
    position: absolute;
    top: calc(50% - 2px);
    width: 90%;
    left: 5%;
    z-index: 21;
    background: #475569;
    opacity: 0.15;
    height: 4px;
  }
  .timeline-viewport {
    height: 85%;
    top: 3%;
    z-index: 23;
  }
  .event-bubble {
    width: 16px;
    height: 16px;
    opacity: 0.8;
    position: relative;
    z-index: 22;
    background: hsl(
      var(--nextui-primary) /
        var(--nextui-primary-opacity, var(--tw-bg-opacity))
    );
    &:hover {
      opacity: 1;
    }
  }
}
.event-density-map.white {
  .event-bubble {
    background: white;
  }
  .line {
    background: white;
    opacity: 0.4;
  }
  p {
    color: white;
  }
  .timeline-viewport {
    border-width: 0.5px;
  }
}
