@tailwind base;
@tailwind components;
@tailwind utilities;

main.container {
    background-image: url('/img/bg/groovepaper.png');
}

.font-title {
    font-family: var(--font-sans);
}

.handwriting {
    font-family: var(--font-handwriting);
}