.book-covers-container {
  width: 480px;
  .book-cover {
    flex-grow: 0;
    flex-shrink: 0;
    img {
      height: 90px !important;
    }
  }
}
.library-minimap-container {
  width: 300px;
  .event-density-map {
    height: 75px;
  }
}
